@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Poppins";
  /* @apply bg-gray-100 text-gray-500; */
}
a:hover {
  @apply transition duration-200;
  @apply text-gray-700;
}
.swiper-pagination-bullet {
  background-color: white;
}
.swiper {
  width: 100%;
  height: auto;
}
.productCard:hover .addToCart-btn {
  display: block !important;
  background-color: black;
  cursor: pointer;
}
.productCard:hover .addToCart-btn:disabled,
.addToCart-btn:disabled {
  background-color: transparent;
  color: rgb(255, 0, 0);
}
.productCard {
  cursor: pointer !important;
  transition: all 0.2s ease !important;
}
.swiper-slide {
  background-color: black;
  /* Center slide text vertically */
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
.cart-prod-remove-btn {
  display: none;
}

tbody tr td:hover .cart-prod-remove-btn {
  display: block;
}
